# compiled versions
*.class
*.obj
bin/*

#backups
*~
*.bak

# archives
*.zip
*.tar.gz
*.tgz

#temp folders
samples-temp/*
temp/*
logs/*
temp2/*

#temp files used by scripts
transf.ini

#local custom properties etc
custom.properties

#local instalation specifics, experiments etc
local/

#var local temp files etc
.directory
